*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
 height: 200vh;
 width: 100%;
 background: url(images/fundo.svg) ;
 background-size: cover;
 place-items: center;
 display: grid;
  
}
.playground{
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.holes{
 display: flex;
 justify-content: center;
 align-items: start;
 padding: 20px;
 position: relative;

}

.holes .toup1{ 
  animation: toupeira 1s 3s backwards;
}

.holes .toup2{ 
  animation: toupeira 1s 5s backwards;
}

.holes .toup3{  
  animation: toupeira 1s 7s backwards;

}



@keyframes toupeira {
  
  0%{ 
    
    background: url(images/toupeira1.svg);
  }
  20%{  
    background: url(images/toupeira2.svg);
  }
  40%{ 
    background: url(images/toupeira3.svg);
  }
  60%{ 
    background: url(images/toupeira4.svg);
  }
  80%{  
    background: url(images/toupeira5.svg);
  }
  100%{
    background: url(images/toupeira6.svg);
  }
}